*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build outputs & signing secrets
*.apk
*.aab
keystore.properties
*.jks
*.keystore
